
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'signup.css' %}">
{% endblock %}
{% block content %}

<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Movie<span>Zone</span></div>
		</div>
		<br>
        <form method = "post">
            {% csrf_token %}
            <div class="login">
            
				<input type="text" placeholder="username" name="username"><br>
				<input type="password" placeholder="password" name="password1"><br>
                <input type="password" placeholder="confirm password" name="password2"><br>
				<button type="submit">Login</button><br>
                <a href="{% url 'signin' %}">Already have an account? Login here</a><br>
            </div>
		</div>
        </form>

{% endblock %}